    /* styles.css */
    @font-face {
        font-family: 'Roboto';
        src: url('Inter_18pt-Regular.ttf'); /* Relative path to the font file */
    }

    .root {
        -fx-font-family: "Roboto";
        -fx-font-size: 16px;
    }

    .projectsTab {
       -fx-text-base-color: black;
       -fx-font-size: 12;
    }